@using DevPodcasts.Web.Extensions
@model DevPodcasts.ViewModels.Podcast.PodcastDetailViewModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaDescriptionText = Model.Description;
}

<div class="podcast-detail-container">

    <div class="col-sm-10">
        <h2>@Model.Title</h2>
        <p><a href="@Model.SiteUrl" rel="noopener noreferrer" target="_blank">@Model.SiteUrl</a></p>
        <p>@Model.Description</p>
        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
        <span class="tag-text"><strong>Tags: </strong></span>
        <div class="podcast-tags">
            @if (Model.Tags != null)
            {
                foreach (var tag in Model.Tags)
                {
                    <a href="~/tags/@tag.Slug" class="podcast-tag" title="Podcasts tagged @tag.Name">@tag.Name</a>
                }
            }
        </div>
    </div>
    <div class="col-sm-2">
        <img class="podcast-img" src="@Model.ImageUrl" />
    </div>
</div>

<table class="table table-striped" style="margin: 40px 0">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date Published</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.Episodes != null)
            {
                foreach (var item in Model.Episodes)
                {
                <tr>
                    <td>@Html.ActionLink(item.Title, "Detail", "Episode", new { id = item.Id }, null)</td>
                    <td>@item.DatePublished.ToShortUkDate()</td>
                </tr>
            }
        }
    </tbody>
</table>
