@model DevPodcasts.ViewModels.Podcast.EditPodcastViewModel
@{
    ViewBag.Title = "Edit";
}

<div class="edit-podcast-container">
    <h2>Edit Podcast</h2>

    @using (Html.BeginForm("Edit", "Podcasts", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ImageUrl)
            @Html.TextBoxFor(m => m.ImageUrl, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FeedUrl)
            @Html.TextBoxFor(m => m.FeedUrl, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SiteUrl)
            @Html.TextBoxFor(m => m.SiteUrl, new { @class = "form-control" })
        </div>
        <div>
            <h4>Tags</h4>
        </div>
        <div>
            @Html.EditorFor(m => m.Tags)
        </div>
        <input type="submit" value="Save" class="btn btn-primary" />
    }

    <hr/>

    @using (Html.BeginForm("Delete", "Podcasts", FormMethod.Post, new { onsubmit = "return confirm('Are you sure?');" }))
    {
        @Html.HiddenFor(p => p.Id);

        <input type="submit" value="Delete Podcast" class="btn btn-danger" id="delete-podcast" />
    }

</div>