@model DevPodcasts.ViewModels.Home.ContactViewModel
@{
    ViewBag.Title = "Contact";
    var success = Model.IsSuccess;
}

<div class="contact-form">
    <div class="row">
        <h2>Contact form</h2>
        <p>Got an issue with the site?</p>
        <p>Found a bug?</p>
        <p>Got a suggestion for a feature?</p>
        <p>Use the form below and we will get back to you as soon as we can.</p>

        @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.EmailAddress)
                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
                <small class="text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Subject)
                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Message)
                @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
            </div>
            <div class="g-recaptcha" data-sitekey="6Ldo-U8UAAAAAJuyBgM6jN9ED4LP6mjhZVfukB6N"></div>
            <button type="submit" class="btn btn-primary">Submit</button>
        }
    </div>
    @if (success != null && success == true)
    {
        <div id="alert" class="alert alert-success">
            <h4>@Model.SuccessMessage</h4>
        </div>
    }
    else if (success != null && success == false)
    {
        <div id="alert" class="alert alert-danger" role="alert">
            <h4>An error occurred, please try again.</h4>
        </div>
    }
</div>

@section AddToHead{
    <script src="https://www.google.com/recaptcha/api.js"></script>
}

@if (success != null)
{
    <script>
        $('#alert').delay(4000).fadeOut('slow');
    </script>
}