@model DevPodcasts.ViewModels.Home.HomeIndexViewModel
@{
    ViewBag.Title = "Home";
}

<div class="home-container">
    <div class="row">
        <img src="~/img/podcast-logo.png"/>
        <h1>Dev Podcasts</h1>
        <p class="lead">A directory of podcasts for software developers.</p>
    </div>
    
    <div class="row" style="text-align: center; font-size: 1.5em">
        <p>@Html.ActionLink(Model.TotalPodcasts + " podcasts", "Index", "Podcasts")</p>
        <p style="color: #337ab7">@Model.TotalEpisodes.ToString("#,##0") episodes</p>
    </div>

    <div class="row recent-episodes">
        <h2>Recently added episodes</h2>
        <ul>
            @foreach (var episode in Model.RecentEpisodes)
            {
                <li>
                    <p title="@episode.PodcastTitle"><a href="~/episode/detail/@episode.Id">@episode.Title</a></p>
                </li>
            }

        </ul>
    </div>

    <div class="row">
        <h2>Featured podcasts:</h2>
        @foreach (var podcast in Model.FeaturedPodcasts)
        {
            <div class="col-md-5">
                <h3><a href="~/podcasts/detail/@podcast.PodcastId">@podcast.Title</a></h3>
                <p style="line-height: 2">
                    @podcast.Description
                </p>
            </div>
        }
    </div>
</div>
