<footer id="footer">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="column">
                <h4>Site Map</h4>
                <ul>
                    <li>@Html.ActionLink("Podcasts", "Index", "Podcasts", null, new { style = "color: azure;" })</li>
                    <li>@Html.ActionLink("Search", "Index", "Search", null, new { style = "color: azure;" })</li>
                    <li>@Html.ActionLink("Tags", "Index", "Tags", null, new { style = "color: azure;" })</li>
                    <li>@Html.ActionLink("Login", "Login", "Account", null, new { style = "color: azure;" })</li>
                    <li>@Html.ActionLink("Register", "Register", "Account", null, new { style = "color: azure;" })</li>
                    <li>@Html.ActionLink("Submit a podcast", "Submit", "Podcasts", null, new { style = "color: azure;" })</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="column">
                <h4>Contact</h4>
                <ul>
                    <li><a style="color: azure" href="https:twitter.com/nrkirby">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>