@model IEnumerable<DevPodcasts.ViewModels.Podcast.PodcastSearchResultViewModel>


<div id="results-container">
    @if (Model != null)
    {
        <hr />
        foreach (var result in Model)
        {
            <div class="row result-row" id="@result.Id" title="@result.Title">
                <div class="col-sm-2 hidden-xs">
                    <a href="~/podcasts/detail/@result.Id"><img class="result-img" src="@result.ImageUrl" /></a>
                </div>
                <div class="col-sm-10">
                    <a href="~/podcasts/detail/@result.Id"><h3>@result.Title</h3></a>
                    <p>@result.Description</p>
                    <div class="row">
                        <div class="podcast-tag-list col-sm-10">
                            <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                            <span class="tag-text"><strong>Tags: </strong></span>
                            <div class="podcast-tags">
                                @if (result.Tags != null)
                                {
                                    foreach (var tag in result.Tags)
                                    {
                                        <a href="~/tags/@tag.Slug" class="podcast-tag" title="Podcasts tagged @tag.Name">@tag.Name</a>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-sm-2"><p class="pull-right"><a href="~/podcasts/detail/@result.Id"><span class="result-episode-count">@result.NumberOfEpisodes episodes</span></a></p></div>
                    </div>
                </div>
            </div>
            <hr />
        }
    }
</div>


