@model DevPodcasts.ViewModels.Logs.LogsViewModel
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Level</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.TimeStamp</td>
                <td>@item.Level</td>
                <td>@item.LogMessage</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="container">
    <div class="pagination-div">
        @(Model.PaginationInfo.Previous!= "is-disabled" ? Html.ActionLink("Previous", "Index", "Logs", new {page = Model.PaginationInfo.ActualPage - 1}, null) : Html.Raw("Previous Off"))
        @(Model.PaginationInfo.Next != "is-disabled" ? Html.ActionLink("Next", "Index", "Logs", new {page = Model.PaginationInfo.ActualPage + 1}, null) : Html.Raw("Next Off"))
    </div>
</div>

