@model DevPodcasts.ViewModels.Podcast.PodcastDetailViewModel
@{
    ViewBag.Title = "Podcast Detail";
}

<h2>@Model.Title</h2>

<p>@Model.Description</p>
<p><a href="@Model.SiteUrl" rel="noopener noreferrer" target="_blank">@Model.SiteUrl</a></p>

<table class="table table-striped">
    <thead> 
    <tr>
        <th>Title</th>
        <th>Date Published</th>
        <th></th>
    </tr> 
    </thead> 
    <tbody>
    @if (Model?.Episodes != null)
    {
        foreach (var item in Model.Episodes)
        {
            <tr> 
                <td>@Html.ActionLink(item.Title, "Detail", "Episode", new { id = item.Id }, null)</td> 
                <td>@item.DatePublished</td> 
            </tr>
        }
    }
    </tbody>
</table>




