@model DevPodcasts.ViewModels.Admin.AdminIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Admin</h2>
@using (Html.BeginForm("Index", "Admin", FormMethod.Post))
{
    <table class="table table-striped">
        <thead> 
        <tr>
            <th>Title</th>
            <th>Site Url</th>
            <th>Date added</th>
            <th></th>
        </tr> 
        </thead> 
        <tbody>
        @if (Model?.UnapprovedPodcasts != null)
        {
            foreach (var item in Model.UnapprovedPodcasts)
            {
                <tr> 
                    <td>@item.Title</td> 
                    <td><a href="@item.SiteUrl" target="_blank">@item.SiteUrl</a></td>
                    <td>@item.DateAdded</td> 
                    <td>
                        <a href="@Url.Action("ReviewSubmission", "Admin", new { podcastId = @item.Id })"><i class="fa fa-check fa-lg" aria-hidden="true" style="color: #228B22;" title="Review submission & approve"></i></a>
                        <a href="@Url.Action("Reject", "Admin", new { podcastId = @item.Id })"><i class="fa fa-times fa-lg" aria-hidden="true" style="color: red; position: relative; left: 15px" title="Reject"></i></a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
}





