@model DevPodcasts.ViewModels.Search.SearchIndexViewModel
@{
    ViewBag.Title = "Search";
}

<h1>Search</h1>

@Html.Partial("_SearchBar")


<div id="search-count">
    @if (Model == null)
    {
        <h4>0 results</h4>
    }
    else if (Model.PodcastSearchResults.Count() == 1)
    {
        <h4>1 result</h4>
    }
    else
    {
        <h4>@Model.PodcastSearchResults.Count() results</h4>
    }
</div>
<div id="search-results">
    <ul id="search-list">
        @if (Model != null)
        {
            foreach (var result in Model.PodcastSearchResults)
            {
                <li class="podcast-list-item">
                    <div class="search-result">
                        <div class="podcast-image">
                            <a href='@Url.Action("Detail", "Podcast", new {id = result.Id})'>
                                <img class="img-thumb" src="@result.ImageUrl" />
                            </a>
                        </div>
                        <div class="podcast-summary">
                            <p>
                                @Html.ActionLink(result.Title, "Detail", "Podcast", new { id = result.Id }, null)
                            </p>
                            <p>@result.Description</p>
                        </div>
                        <p class="episode-count pull-right" align="right">
                            <strong>(@result.NumberOfEpisodes episodes)</strong>
                        </p>
                    </div>
                </li>
            }
        }
    </ul>
</div>
