@model DevPodcasts.ViewModels.Search.SearchIndexViewModel
@{
    ViewBag.Title = "Index";
    var searchQuery = ViewBag.SearchQuery;
}

<h1>Search</h1>
<div class="col-lg-6 pull-left" style="padding: 0 0 0 0">
    @using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @class = "navbar-form" }))
    {
        <div class="input-group">
            @if (searchQuery != null)
            {
                <input type="text" class="form-control" placeholder="Search" name="q" value=@searchQuery>
            }
            else
            {
                <input type="text" class="form-control" placeholder="Search" name="q">
            }
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    }
</div>
<div style="clear:both; position: relative; top: 12px; left: 15px">
    <h4>@Model.PodcastSearchResults.Count() results</h4>
</div>
<div id="search_results" style="position: relative; top: 20px">
    <ul style="list-style-type:none">
        @foreach (var result in Model.PodcastSearchResults)
        {
            <li style="border-bottom: 1px solid #e4e6e8; padding: 12px 0 10px 0;">
                <div class="search-result">
                    <div class="podcast-image">
                        <a href='@Url.Action("Detail", "Podcast", new { id = result.Id })'>
                            <img src="@result.ImageUrl" style="max-width: 100%; max-height: 100%" />
                        </a>
                    </div>
                    <div class="podcast-summary">
                        <p>
                            @Html.ActionLink(result.Title, "Detail", "Podcast", new { id = result.Id }, null) 
                        </p>
                        <p>@result.Description</p>
                    </div>
                    <p class="pull-right" align="right" style="position: relative; right: 30px; font-size: 12px"><strong>(@result.NumberOfEpisodes episodes)</strong></p>
                </div>
            </li>
        }
    </ul>
</div>

<style>
    .search-result {
        overflow: hidden;
    }
    .podcast-image {
        width: 75px;
        float:left;
    }
    .podcast-summary {
        overflow: hidden;
        position: relative;
        left: 10px
    }
</style>