@model DevPodcasts.ViewModels.Episode.EpisodeDetailViewModel
@{
    ViewBag.Title = Model.Title + " - " + Model.PodcastTitle;
    ViewBag.MetaDescriptionText = Model.Summary;
}

<div class="episode-detail-container">
    <h1><a href="~/podcasts/detail/@Model.PodcastId">@Model.PodcastTitle</a></h1>
    <h2>@Model.Title</h2>
    <button type="button" class="btn btn-primary btn-sm" onclick="location.href = '@Model.EpisodeUrl'" style="margin-top: 0.9em; margin-bottom: 1.5em;">Episode Link</button>
    <br />

    <audio id="audio" controls style="margin: 1em 0">
        <source src=@Model.AudioUrl type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <div style="border: 1px solid #005cb9; background-color: #f1f5f9; overflow: auto; margin-bottom: 1.7em; margin-top: 1em; padding: 1em !important;">
        <h4 style="margin-top: 0">Summary:</h4>
        @Model.Summary
    </div>


    <br />
    <div id="disqus_thread" style="position: relative; top: 100px"></div>
</div>


<script>
    $(document).ready(function () {
        var audio = $('#audio')[0];
        audio.addEventListener("play", function() {
            gtag('event', 'audio_play', {
                'episode_title': '@Model.Title',
                'podcast_title': '@Model.PodcastTitle'
            });
        })
    });

    var disqus_config = function () {
        this.page.url = "@HttpContext.Current.Request.Url";
        this.page.identifier = "@Model.Id";
    };

    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://devpodcastsdotnet.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
