@model DevPodcasts.ViewModels.Episode.EpisodeDetailViewModel
@{
    ViewBag.Title = "Episode Detail";
}

<div class="episode-detail-container">
    <h2>@Model.Title</h2>
    <p><a href="@Model.EpisodeUrl" rel="noopener noreferrer" target="_blank">@Model.EpisodeUrl</a></p>

    <div style="border: 1px solid #005cb9; background-color: #f1f5f9; overflow: auto; margin-bottom: 1.7em; margin-top: 3em; padding: 1em !important;">
        <h4 style="margin-top: 0">Summary:</h4>
        @Model.Summary
    </div>

    <audio controls>
        <source src=@Model.AudioUrl type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <br />
    <div id="disqus_thread" style="position: relative; top: 100px"></div>
</div>


<script>
    var disqus_config = function () {
        this.page.url = "@HttpContext.Current.Request.Url";
        this.page.identifier = "@Model.Id";
    };

    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://devpodcastsdotnet.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
